<div class="container" *ngIf="form.nombreProducto && !failInit">
    <h5>Actualizar Producto</h5>
    <form (ngSubmit)="onUpdate()" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="nombreProducto">Nombre:</label>
            <input class="form-control" type="text" name="nombreProducto" id="nombreProducto"
                [(ngModel)]="form.nombreProducto" required autocomplete="off">
        </div>
        <div class="form-group">
            <label for="precio">Precio:</label>
            <input class="form-control" type="number" name="precio" id="precio" [(ngModel)]="form.precio" required
                autocomplete="off">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success" [disabled]="!f.valid">Actualizar</button>
        </div>
    </form>
    <div>
        <button class="btn btn-primary float-left mr-3" (click)="volver()">Volver</button>
    </div>
    <br>
    <br>
    <div *ngIf="failActualizado" class="float-left">
        <p class="p-3 bg-danger text-white rounded">Error: {{msjErr}}</p>
    </div>
    <div *ngIf="actualizado" class="float-left">
        <p class="p-3 bg-success text-white rounded">OK: {{msjOK}}</p>
    </div>
</div>